<h1>Editing recipe note</h1>

<%= render "form", recipe_note: @recipe_note %>

<br>

<div>
  <%= link_to "Show this recipe note", @recipe_note %> |
  <%= link_to "Back to recipe notes", recipe_notes_path %>
</div>
